# Copyright (C) 2009 - 2019 Internet Neutral Exchange Association Company Limited By Guarantee.
# All Rights Reserved.
# 
# This file is part of IXP Manager.
# 
# IXP Manager is free software: you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the Free
# Software Foundation, version 2.0 of the License.
# 
# IXP Manager is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
# more details.
# 
# You should have received a copy of the GNU General Public License v2.0
# along with IXP Manager.  If not, see:
# 
# http://www.gnu.org/licenses/gpl-2.0.html

<sql>
	dbase_type	= mysql
	dbase_database	= ixpmanagerdatabase
	dbase_username	= ixpmanagerusername
	dbase_password	= mys00persekr1tp4ssw0rd
	dbase_hostname	= localhost
	#dbase_portname = /tmp/mysql.sock
</sql>

<ixp>
	sflow_rrdcached = 
	sflowtool = 
	sflowtool_opts =
	sflow_rrddir = 
#	debug = 1
	apikey = VeryLongAPIKeyFromIXPManager
	apibaseurl = http://www.example.com/ixp/api/v4

	# use configured MAC table instead of learned MAC table?
	# macdbtype = configured

	# If resold VLANs are not in IXP Manager, do we map VLANs for translations/resold customers?

	map_vlans = 0

	# If map_vlans is enabled, query to translate VLANs.
 	# query should return two fields: pvlan (resold vlan) and vlan (peering vlan)
 	#
 	# Example: Extract VLAN id from subinterface names e.g. Ethernet15/1.501
 	# for all resold customers. Map to actual peering VLAN as configured in IXPM.
	# 
 	map_vlan_query = SELECT DISTINCT SUBSTRING_INDEX(sp.name, '.', -1) AS pvlan, v.number as vlan \
		FROM switchport sp \
		INNER JOIN physicalinterface pi ON pi.switchportid = sp.id \
		INNER JOIN virtualinterface vi ON pi.virtualinterfaceid = vi.id \
		INNER JOIN cust c ON vi.custid = c.id \
		INNER JOIN vlaninterface vli ON vli.virtualinterfaceid = vi.id \
		INNER JOIN vlan v ON vli.vlanid = v.id \
		WHERE c.reseller > 0 AND \
		v.peering_matrix = 1 AND \
		sp.name LIKE '%.%'

</ixp>
