
/.env
/.env.barryo
/.env*.local
/.env.by-vagrant.*
/.env.sage
/.project
/.buildpath
/.settings/
/.phpunit.cache/
/vendor/
/public/.htaccess
/public/logos/*
/public/build
/public/favicon.ico

/.junie

.directory
.DS_Store
.vagrant/
*~
*.rrd

.cache/
.composer/
.config/
.ixp-manager-installer-settingsrc
composer.phar
/tools/installers/Vagrantfile

/.phpstorm.meta.php
/_ide_helper.php

/storage/.local
/storage/grapher/
/storage/files/*
/storage/tmp/*

/tests/Browser/ExampleTest.php

/tools/perl-lib/IXPManager/MYMETA.yml
/tools/perl-lib/IXPManager/Makefile
/tools/perl-lib/IXPManager/blib/
/tools/perl-lib/IXPManager/pm_to_blib
/tools/perl-lib/IXPManager/ixpmanager.conf

/config/contact_group.php
/config/custom.php
/config/grapher_cli.php
/config/grapher_trunks.php
/config/grapher_smokeping_overrides.php
/config/ixp_tools.php
/config/lookingglass.php
/config/mailinglists.php
/config/trustedproxy.php

ubuntu-*-cloudimg-console.log


# Let's not accidently add SQL dumps to Git
/*.sql.bz2
/*.sql.gz
/*.sql

/node_modules/
npm-debug.log
yarn-error.log

/tools/docker/containers/mysql/docker.sql

/.phpunit.result.cache

/app/Console/Commands/Redcentric.php

.idea/httpRequests
.phpactor.json


/.idea/workspace.xml
/.idea/tasks.xml
/.idea/codeStyles/
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources
/.idea/inspectionProfiles
/.idea/ixpv.iml
/.idea/php.xml
/.idea/symfony2.xml
/.idea/composerJson.xml
/.idea/misc.xml


# ########################################################################
# JetBrains.gitignore
#
# https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore

# Covers JetBrains IDEs: IntelliJ, GoLand, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# AWS User-specific
.idea/**/aws.xml

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Editor-based HTTP Client
.idea/httpRequests
http-client.private.env.json












