.project
.buildpath
MAINT_MODE_ENABLED
.settings/
ixp-manager.sublime-workspace
bin/mailing-list-sync.sh
bin/fixtures.php
public/.htaccess
application/configs/application.ini
application/configs/pp-application.ini*
data/mrtg
var/cache/*
var/log/*
var/meetings/*
var/session/*
var/templates_c/*
var/tmp/*
var/spool/*
*~
public/favicon.ico
public/maintenance.php
public/images/.directory
public/images/joomla-admin/.directory
public/images/joomla-admin/menu/.directory
tools/perl-lib/IXPManager/MYMETA.yml
tools/perl-lib/IXPManager/Makefile
tools/perl-lib/IXPManager/blib/
tools/perl-lib/IXPManager/pm_to_blib
tools/perl-lib/IXPManager/ixpmanager.conf
*.sublime-project
*.sublime-workspace
application/views/router-cli/tacacs/tacplus/key.cfg
application/views/_skins/*/router-cli/tacacs/*/key.cfg
application/configs/rc-inex-*conf
application/configs/rs*-inex-*.conf
application/configs/ci-*
*.DS_Store
