.project
public/.htaccess
application/configs/application.ini
application/configs/pp-application.ini*
var/cache/*
var/log/*
var/meetings/*
var/session/*
var/templates_c/*
library/Doctrine
library/Zend
library/ZFDebug
library/smarty
*~
public/images/.directory
public/images/joomla-admin/.directory
public/images/joomla-admin/menu/.directory
