<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="vendor/autoload.php" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="Dusk / Browser Test Suite">
      <directory suffix="Test.php">./tests/Browser</directory>
    </testsuite>
    <testsuite name="Docstore Test Suite">
      <directory suffix="Test.php">./tests/Docstore</directory>
      <directory suffix="Test.php">./tests/DocstoreCustomer</directory>
    </testsuite>
    <testsuite name="IXP Manager Test Suite">
      <directory suffix="Test.php">./tests/IXP</directory>
      <directory suffix="Test.php">./tests/Services</directory>
      <directory suffix="Test.php">./tests/Tasks</directory>
      <directory suffix="Test.php">./tests/Utils</directory>
    </testsuite>
  </testsuites>
  <php>
    <const name="APPLICATION_VERSION" value="999.9.9"/>
    <const name="APPLICATION_VERDATE" value="9999999999"/>
    <const name="APPLICATION_STARTTIME" value="0"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </source>
</phpunit>
