@CHARSET "UTF-8";


body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}


a.aplain, a:link.aplain, a:visited.aplain, a:hover.aplain, a:active.aplain {
    color: #fff;
    text-decoration: none;
}
