@CHARSET "UTF-8";


body {
    padding-top: 60px;
    padding-bottom: 40px;
}

@media ( max-width: 1245px ) {
    body {
        padding-top: 100px;
    }
}

.sidebar-nav {
    padding: 9px 0;
}

.mono {	
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    /* font-size: 12px; */
}

.oss-overlay
{
    position: absolute;
    z-index: 2000;
    background-color:black;
    opacity: 0.4;
}

a.aplain, a:link.aplain, a:visited.aplain, a:hover.aplain, a:active.aplain {
    color: #fff;
    text-decoration: none;
}


.meetings {
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
}

.meetings_index_container {
        display: block;
}

.meetings_index {
    display: block;
    text-align: right;
}

.meeting h1 {
        color: #4fa500;
        font-size: 146.5%;
        font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.meeting h4 {
    color: #4fa500;
    font-size: 100%;
    font-weight: normal;
    font-style: italic;
}

.meeting.title {
    padding-bottom: 2px;
    border-bottom: 2px solid #4fa500;
    margin-bottom: 10px;
}

.meetingitem h1 {
    color: #000000;
    font-size: 116%;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.meetingitem a, .meetingitem a:link, .meetingitem a:visited {
    color: #000000;
    text-decoration: none;
    border-bottom: 1px dotted #000000;
}


.meetingitem h4 {
    color: #000000;
    font-size: 100%;
    font-weight: normal;
    font-style: italic;
}

.meetingitem.title {
    margin-bottom: 10px;
}

.meetingitem.title.icons {
    float: right;
}

.meetingitem.title.icons img {
    float: right;
    padding-left: 10px;
}


.meetingitem dd {
    color: #000000;
    font-size: 100%;
    font-weight: normal;
    font-style: none;
        margin-bottom: 10px;
        padding-left: 20px;
    padding-bottom: 10px;
}

.meeting.buttons {
        text-align: center;
}

.list_preamble_container {
    display: block;
}

.list_preamble {
    display: block;
    text-align: right;
}






.pm-table {
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
}


.pm-table th {
    padding: 0px;
	text-align: center;
	vertical-align: bottom;
    border: 1px solid #dddddd;
    border-bottom-width: 2px;
    border-top: none;
	font-weight: bold;
}

.pm-table th.asn {
    cursor: hand;
    cursor: pointer;
}

.pm-table th:last-child {
    border-right-width: 2px;
}

.pm-table td {
	text-align: center;
	vertical-align: top;
	border: 1px solid #dddddd;
}

.pm-table td.peering {
     cursor: hand;
     cursor: pointer;
}

.pm-table td.zoom1 {
    padding: 0px 1px;
    font-size: 8px;
    line-height: 12px;
}

.pm-table td.zoom2 {
    padding: 2px 4px;
    font-size: 11px;
    line-height: 15px;
}

.pm-table td.zoom3 {
    padding: 4px 8px;
    font-size: 13px;
    line-height: 18px;
}

.pm-table td.zoom4 {
    padding: 6px 10px;
    font-size: 15px;
    line-height: 20px;
}

.pm-table td.zoom5 {
    padding: 8px 12px;
    font-size: 18px;
    line-height: 24px;
}

.pm-table th.zoom1 {
    font-size: 8px;
    line-height: 12px;
}

.pm-table th.zoom2 {
    font-size: 11px;
    line-height: 15px;
}

.pm-table th.zoom3 {
    font-size: 13px;
    line-height: 18px;
}

.pm-table th.zoom4 {
    font-size: 15px;
    line-height: 20px;
}

.pm-table th.zoom5 {
    font-size: 18px;
    line-height: 24px;
}

.pm-table td:last-child {
    border-right-width: 2px;
}



.pm-table th.name {
    border-left: none;
    border-right: none;
    border-top: none;
}

.pm-table th.asn {
    border-left: none;
    border-top: none;
    border-right-width: 2px;
}

.pm-table td.name {
    text-align: left;
    border-left: none;
    border-right: none;
    font-weight: bold;
}

.pm-table td.asn {
    text-align: right;
    border-left: none;
    border-right-width: 2px;
    font-weight: bold;
}

.pm-table tr:last-child {
    border-bottom-width: 2px;
}


.pm-table td.peered {
    background-color: #00cc00;
    width: 10px;
}

.pm-table td.not-peered {
    background-color: #d63030;
    width: 10px;
}

.pm-table td.bilateral-rs {
    width: 10px;
}

.pm-table td.rs-only {
    width: 10px;
}

.pm-table td.bilateral-only {
    width: 10px;
}


.pm-table tr.hover, .pm-table colgroup.hover, .pm-table td.hover { 
	background-color: #eee;
    border-left: 2px solid #555;
    border-right: 2px solid #555;
}

.pm-table td.hover2 { 
    border-left: 1px solid #555;
    border-right: 1px solid #555;
}


.pm-table th.highlight, .pm-table td.highlight { 
    background-color: #fcf6cf;
}

.pm-table th.highlight2, .pm-table td.highlight2 { 
    background-color: #eee;
}

.controls-fieldset-bordered {
    margin-left: 90px;
}

.legend-fieldset-bordered {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
    border-style: none none none;
    width: none;
    padding: 5px;
}

.fieldset-bordered {
    border: 1px solid #CCCCCC;
    padding: 10px;
    border-radius: 4px 4px 4px 4px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.info_box {
	/* margin-top: 20px;
	margin-bottom: 20px; */
}

.info_box .title {
	position: relative;
	top: -30px;
	margin-left: 0em;
	padding: 2px 7px;
	display: inline;
	font-size: 1em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #dddddd;
	background-color: #fafafa;
	background-color: #f9f9f9;
	background-image: -moz-linear-gradient( top, #ffffff, #f0f0f0 );
	background-image: -webkit-gradient( linear, 0 0, 0 100%, from(#ffffff), to(#f0f0f0) );
	background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
	background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
	background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f0f0', GradientType=0);
}

.info_box .title a{
	color:#555555;
	text-decoration:none;
}
.info_box .content{
	margin-top:-10px;
}


/* Bootstrap Dropdowns in Breadcrumbs:
       http://stackoverflow.com/questions/12194573/bootstrap-dropdown-within-breadcrumb */
.dropdown-menu li {
  display: block;
}



/* Chosen width issues: https://github.com/harvesthq/chosen/issues/92 

.chzn-container, .chzn-drop {
    width: 100% !important;
}

*/