/*----------------------------
    The file upload form
-----------------------------*/


#upload{
    font-family:'PT Sans Narrow', sans-serif;
    background-color:#eee;

    background-image:-webkit-linear-gradient(top, #eee, #eee);
    background-image:-moz-linear-gradient(top, #eee, #eee);
    background-image:linear-gradient(top, #eee, #eee);

    padding:30px;
    border-radius:3px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#drop{

    padding: 40px 50px;
    margin-bottom: 30px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;

    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop a{
    padding:12px 26px;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    line-height:1;
}

#drop .info{
    font-size:12px!important;
    text-transform: none;
}

#drop input{
    display:none;
}

#upload ul{
    list-style:none;
    margin:0 -30px;
    border-top:1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
    padding-left: 0px!important;
}

#upload ul{

    background-color:#f7f7f9;

    background-image:-webkit-linear-gradient(top, #f7f7f9, #f7f7f9);
    background-image:-moz-linear-gradient(top, #f7f7f9, #f7f7f9);
    background-image:linear-gradient(top, #f7f7f9, #f7f7f9);

}

#upload ul li{

    background-color:#f7f7f9;

    background-image:-webkit-linear-gradient(top, #f7f7f9, #f7f7f9);
    background-image:-moz-linear-gradient(top, #f7f7f9, #f7f7f9);
    background-image:linear-gradient(top, #f7f7f9, #f7f7f9);

    border-top:1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
    padding:15px;
    height: 100px;

    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: 68%;
    overflow: hidden;
    white-space: nowrap;
    color: black;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 100px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li i.error{
    display: inline;
    font-weight: bold;
    font-style:normal;
    color:red;
}

#upload ul li i.success{
    display: inline;
    font-weight: bold;
    font-style:normal;
    color:darkgreen;
}

#upload ul li canvas{
    top: 25px;
    left: 32px;
    position: absolute;
}

#upload ul li span.error{
    width: 15px;
    height: 16px;
    background: url('../img/icons.png') no-repeat;
    background-position: 0 -12px;
    position: absolute;
    top: 34px;
    right: 33px;
}

#upload ul li span.delete{
    position: absolute;
    top: 34px;
    right: 10px;
    cursor: pointer;
}

#upload ul li span.private{
    position: absolute;
    top: 34px;
    right: 35px;
    cursor: pointer;
}

#upload ul li span.success{
    width: 15px;
    height: 13px;
    background: url('../img/icons.png') no-repeat;
    background-position: 0 0px;
    position: absolute;
    top: 34px;
    right: 60px;
}

#upload ul li.error p{
    color:red;
}

#upload ul li.success p{
    color:darkgreen;
}


#tzine-download{
    opacity:0.9;
    background-color:#257691;
    font-size:11px;
    text-align:center;
    text-transform:uppercase;
    width:150px;
    height:28px;
    line-height:28px;
    text-decoration:none !important;

    display: inline-block;
    border-radius: 2px;
    color: #fff !Important;
    font-weight: bold;
    box-shadow: 0 -1px 2px #1e5e74 inset;

    border-top:1px solid #26849c;

    text-shadow:1px 1px 1px #1e6176;
    margin-top:6px;
}

#tzine-download:hover{
    opacity:1;
}

#tzine-actions{
    position:absolute;
    top:0;
    width:500px;
    right:50%;
    margin-right:-420px;
    text-align:right;
}

#tzine-actions iframe{
    display: inline-block;
    height: 21px;
    width: 95px;
    position: relative;
    float: left;
    margin-top: 11px;
}
