@CHARSET "UTF-8";

#break {
    height: 50px;
}

.background {
    vertical-align: top;
    text-align: left;
    background-image: url( ../images/inex-green-corner-153x168.gif );
    background-repeat: no-repeat;
    height: 167px;
}

.logo {
    font-size: 220%;
    font-variant:small-caps;
    color:#005a9c;
    font-weight:bolder;
    text-align:left;
    vertical-align: bottom;
}

body {
    color: #5E5E5E;
    background-color: #FFFFFF;
    font-weight: normal;
}

a:link, a:visited, a:active {
    color: #448833;
    text-decoration: none;
}

a:hover {
    color: #58ac40;
    text-decoration: underline;
}

.footer {
    font-size: 7pt;
    color: #7E7E7E;
    background-color: #FFFFFF;
    font-weight: normal;
}

.pager {
    font-size: 10pt;
    color: #000;
    background-color: #FFFFFF;
    font-weight: normal;
    text-align: center;
}

.button {
    border : solid 1px #58ac40;
    background: #E9ECEF;
    color : #666666;
    /* font-weight : bold; */
    font-size : 9px;
    padding: 1px;
}

.bigbutton {
    border : solid 1px #58ac40;
    background: #E9ECEF;
    color : #666666;
    font-weight : bold; 
    font-size : 14px;
    padding: 2px;
}


.error {
    color : #C40000;
    font-size : 11px;
    font-weight : bold;
}

.message {
    margin-top: 10px; 
    padding: 7px; 
    width: 400px;
    border: 1px solid #B22222;
    background: #F1F3F5;
    color: #B22222; 
    font-weight: bold;
    font-size: 13px;
    margin-left:  auto; 
    margin-right: auto;
    text-align: center; 
}

.message-error {
    margin-top: 10px; 
    padding: 7px; 
    width: 400px;
    border: 1px solid #B22222;
    background: #F1F3F5;
    color: #B22222; 
    font-weight: bold;
    font-size: 13px;
    margin-left:  auto; 
    margin-right: auto;
    text-align: center; 
}

.message-info {
    margin-top: 10px; 
    padding: 7px; 
    width: 400px;
    border: 1px solid #B22222;
    background: #F1F3F5;
    color: #B22222; 
    font-weight: bold;
    font-size: 13px;
    margin-left:  auto; 
    margin-right: auto;
    text-align: center; 
}


table.list {
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    border: 1px solid #ddd;
    border-spacing: 0px;
    width: 100%;
    border-collapse: collapse;
    margin-left:  auto; 
    margin-right: auto; 
    
}

table.list th {
    margin: 0px;
    padding: 6px 4px 2px 4px;
    height: 25px;
    background: url(../images/background.jpg);
    background-repeat: repeat;
    font-size: 12px;
    color: #000;
    text-align: left;
}

table.list th.title {
    text-align: left;
}

table.list th a:link, table.list th a:visited {
    color: #c64934;
    text-decoration: none;
}

table.list th a:hover {
    text-decoration: underline;
}

table.list tr.row0 {
    background-color: #f7f7ff;
}
table.list tr.row1 {
    background-color: #eeeeee;
    
}
table.list td {
    border-bottom: 1px solid #e5e5e5;
    padding: 5px;
    font-size: 12px;
    text-align: left;
    vertical-align: middle;
}

table.list tr.row0:hover {
    background-color: #ffffce;
}

table.list tr.row1:hover {
    background-color: #ffffce;  
}

table.list td.options {
    background-color: #ffffff;
    font-size: 8px;
}

