<?php

return [


    /*
    |--------------------------------------------------------------------------
    |
    | IXP Tool / Statistics CLI Settings
    |
    | See: https://github.com/inex/IXP-Manager/wiki/Email-Notifications
    |
    */
    'cli' => [
        'traffic_differentials' => [
            'stddev_calc_length' => 60,
            'from_email'         => "ops@example.com",
            'from_name'          => "XXX Operations",
            'subject'            => "XXX Traffic Differentials",
            'recipients'         => [
                "someone@example.com",
                "someone-else@example.com",
            ],
        ],
        
        'port_utilisation' => [
            'threshold'  => 0.8,
            'from_email' => "ops@example.com",
            'from_name'  => "XXX Operations",
            'subject'    => "XXX Port Utilisation Report",
            'recipients' => [
                "someone@example.com",
                "someone-else@example.com",
            ],
        ],
        
        'ports_with_counts' => [
            'from_email' => "ops@example.com",
            'from_name'  => "XXX Operations",
            // note that the %s in the subject below is replaced with Errors / Discards as appropriate by the script
            'subject'    => "IXP - Ports with %s",
            'recipients' => [
                "someone@example.com",
                "someone-else@example.com",
            ],
        ],

        'traffic_daily' => [

            // the traffic_daily table can get pretty full and most of the long term information
            // are in the MRTG / other stats files anyway. If you want to keep this data in the
            // database, set the following to false. If it's true, when the daily task runs
            // to populate this table, it will also delete any entries older than
            // cli.traffic_differentials.stddev_calc_length days (this parameter is set above).
            'delete_old' => true,
        ],
    ],
];
