<?php

/*
 * Copyright (C) 2009 - 2019 Internet Neutral Exchange Association Company Limited By Guarantee.
 * All Rights Reserved.
 *
 * This file is part of IXP Manager.
 *
 * IXP Manager is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version v2.0 of the License.
 *
 * IXP Manager is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GpNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License v2.0
 * along with IXP Manager.  If not, see:
 *
 * http://www.gnu.org/licenses/gpl-2.0.html
 */

// Configuration 'oddbits' relating to IXP Manager tools that have
// been migrated from the old ZF1 application/configs/application.ini
// configuration file.

return [



    // LANs available for public and member's own peering matrix.
    'peering_matrix' => [
        0 => [
            'name'   => "Public Peering LAN #1",
            // the vlan tag as entered in the 'number' column in the vlan table
            'number' => 100,
        ],
        1 => [
            'name'   => "Public Peering LAN #2",
            'number' => 120
        ]
    ],

    // the primary / only / main peering LAN (the 'number' column in the vlan table)
    'primary_peering_lan_vlan_tag' => 1,

    //;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
    // Billing updates notifications
    //
    // Send email with updated billing details to the following address when billing details
    // are updated by an admin or a user.
    //
    'billing_updates_notify' => "accounts1@example.com",

    //;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
    //
    // Generated RIR objects
    //
    // See: https://github.com/inex/IXP-Manager/wiki/RIR-Objects
    'rir_ripe_password' => 'supersecret',

    //;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
    //
    // We use PHP-Weathermap which is publicly available. Our true settings
    // are commented out, please replace with your own
    'weathermap' => [
        1 => [
            'name'   => "Weathermap for Peering LAN 1",
            'menu'   => "Weathermap - LAN 1",
            'url'    => "https://www.example.com/weathermap-lan1-plain.html",
            'width'  => 900,
            'height' => 1200
        ],
        // 2 => [ ... ]
    ],

    //;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
    //
    // Email alerts of exceptions can be particular useful for giving you a heads
    // up of any issues rather than waiting for a customer to contact you.
    //
    // However, if your email system is out of band (i.e. not internal to your
    // own network), beware that full exception details and traces are included
    // and in some cases can leak sensitive information.
    'logger' => [
        'email' => [
            'from'   => 'ixp-logger@example.com',
            'to'     => 'ixp-notify-list@example.com',
            'prefix' => 'IXP_ERROR',
            'level'  => 3
        ],
    ],

];
