<?php

//;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
//
// Smokeping Details
//
// See: https://github.com/inex/IXP-Manager/wiki/Smokeping
//


return [
    // the following mrtg.conf variables are used by the Smokeping configuration generator.
    //
    // See also: http://oss.oetiker.ch/smokeping/doc/smokeping_config.en.html

    // destintation file for the configuration. If not set, the generator sends it to stdout
    'conf' => [
        // destintation file for the configuration. If not set, the generator sends it to stdout
        'dstfile'  => '/etc/smokeping/config',

        // Complete URL path of the SmokePing.cgi (mandatory)
        'cgiurl'   => "https://www.example.com/smokeping/smokeping.cgi",

        // A directory which is visible on your webserver where SmokePing can cache graphs. (mandatory)
        'imgcache' => "/usr/local/smokeping/htdocs/img",

        // Either an absolute URL to the imgcache directory or one relative to the directory
        // where you keep the SmokePing cgi. (mandatory)
        'imgurl'   => "/smokeping/img",

        // The directory where SmokePing can keep its rrd files. (mandatory)
        'datadir'  => "/usr/local/var/smokeping",

        // The directory where SmokePing keeps its pid when daemonised. (mandatory)
        'piddir'   => "/usr/local/var/smokeping",

        // Path to the mail template for DYNAMIC hosts. This mail template must contain keywords of the
        // form <##keyword##>. There is a sample template included with SmokePing. (mandatory)
        'smokemail' => "/usr/local/etc/smokeping/smokemail",

        // Smokeping typically includess a file with paths to various executables
        // Set the full path and filename for that include here if you wish
        'pathnames' => "/etc/smokeping/config.d/pathnames",
    ],

    // The above cover all the mandatory settings. You can add other options as follows and
    // they will be included in the general section of the Smokeping config.
    'oconf' => [
        'tmail'          => "/usr/local/etc/smokeping/tmail",
        'syslogfacility' => "local0",
    ]

];
